matplotlib==3.3.3
numpy==1.19.3
pandas==1.1.4
scipy==1.6.0
psutil==5.8.0
sympy==1.7.1
numba==0.51.2
## causes issues in linux cudatoolkit==11.0.221
scikit-learn==0.23.2
openpyxl==3.0.6  # for loading xlsx files in helperfunctions.load()
scikit-image==0.17.2  # for generating elliptical potentials
numdifftools==0.9.39  # for estimating the gradient of the dihedral force field, who would ever do that by hand?
igor